.search-field{
  margin: 3rem 0 3rem;
  padding: 0  1rem;
  @media screen and (max-width: 790px) {
      margin: 3rem 0 1rem;
      padding: 0 ;
    }
    form{
        justify-content: center;
        display: flex;
        .search{
            border-radius: 0.8rem;
            height: 2.5rem;
            width: 90%;
            padding-right:1rem;
            padding-left: 1rem;
            outline: none;
            font-size: 12px;
            color: orange;
            cursor: text;
            border: none;
            @media screen and (max-width: 790px) {
              width: 100%;
            }
        }
    }

}