.search-field{
    margin: 3rem 0 3rem;
    padding: 0 3rem;
    form{
        justify-content: center;
        display: flex;
        // flex-grow: 1;
    }

}
.search{
    border-radius: 0.8rem;
    height: 2.5rem;
    width: 90%;
    padding-right:1rem;
    padding-left: 1rem;
    outline: none;
    font-size: 15px;
    color: red;
    cursor: text;
}