.mov__results{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
    margin-top: 2rem;
    text-align: center;
    margin-left: 1rem;
}
.sorted-movies{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
