.ser__results{
    width: 100%;
    display: flex;
    padding: 0 0 .8rem;
    h2{
        margin: 0; 
        padding-top: 0.6rem;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        padding: 0.5rem;
    }  
}