.ser__results{
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    margin-top: 2rem;
}
.sorted-shows{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
.show-sorters{
    width: 16.125rem;
    // background-color: white;
    // height: 50px;
    // display: flex;
    align-items: center;
    margin-left: 2rem;
    padding-left:1rem ;
}