.ser__results{
    max-width: 100%;
    display: flex;
    margin: 0 0 .8rem;
    height: 19rem;
    background-color: green;
    padding: 0 2rem;
    overflow: none;
    h2{
        // margin: 0; 
        // padding-top: 0.6rem;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        padding: 0.5rem;
    }  
}