.ser__container{
    margin-top: .2rem;
    font-size: 12px;
    text-align: center;
    border-radius: 0.5rem;
    border: 3px solid #ccc5b9;
    width: 12.3rem;
    margin-bottom: 1rem;
    background-color: #fffcf2;
    color: #eb5b28;
}
.seriescard{
    width: 12.3rem;
}
img {
    border-radius: 0.4rem;
}