.main__container{
    width: 100%;
}
.container{
    width: 100%;
}
.categories{
    margin: 1rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.card-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}