.img-shows-desk{
    h5{
        margin-top: 0.4rem;
        padding-left: .8rem;
        color: white;
    }
}
.img_container-1{
    margin-right: 1rem;
    width: 10.8rem;
    height: 16.45rem;
    border: 2.5px solid #272727;
    border-radius: .7rem;
}

