.img-shows-desk{
    h5{
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        padding-left: .65rem;
        color: white;
        font-weight: bolder;
        :hover{
            color: blue;
        }
        a{
            color: white;
        }
        text-overflow: clip;
    }
    span{
        padding-left: .65rem;
        margin: 0;
        color: orange;
        padding-bottom: .65rem;
        font-size: .75rem;
    }
    margin-bottom: 1rem;
    .new-img_desk{
        border: 2px solid white;
        margin-right: 1rem;
        border-radius: .7rem;
        padding-bottom: .75rem;
        background-color: #272727;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
        width: 11rem;
        h5{
            margin: 0;
            margin-top: 8px;
            font-size: .6rem;
        }
    }
}
.img_container-1{
    width: 10.8rem;
    height: 16.7rem;
    border: 2px solid #272727;
    border-radius: .7rem;
}

