.container1{
    display: grid;
    grid-template-columns: 1fr 3fr;
    // height: 100%;
    margin:0.25rem rem;
    background-color: rgb(5, 100, 72);
    width: 19rem;
    color: white;
}
.img-container{
    width: 4rem;
    background-color: rgb(131, 80, 80);
   
}
.text{
    width: 90%;
}