.container1{
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin:0.25rem rem;
    background-color: rgb(5, 100, 72);
    width: 20rem;
    color: white;
    height: 4rem;
}
.img-container{
    width: 6rem;
    background-color: rgb(131, 80, 80);
   
}
.text{
    width: 90%;
}