.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.header{
    display: flex;
    height: 3rem;
    background-color: #272727;
    align-items: center;
    // margin-bottom: 2rem;
    justify-content: space-between;
    padding-right: 2rem;
    span{
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-size: 35px;
        font-weight: 900;
        font-style: italic;
        font-family: "Saira", cursive;
        text-transform: uppercase;
        color: white;
        font-size: 1.5rem;
        .fiery{
            color: orange;
            font-size: 2.5rem;
            padding: 0;
            display: flex;
            align-items: center;
    
        }
    }
}
.nav-1{
    display: flex;
    flex-grow: 1.5;
    margin-left: 2rem;
}
.header-ul{
    display: flex;
    justify-content: space-between;
    li{
        padding: 0 2rem;
        margin-left: 2rem;
        a{
            color: #e1e1e1;
            font-weight: bold;
        }
    }
}