.ser__container{
    margin-top: .2rem;
}
.seriescard{
    height: 14rem;
    width: 10rem;
    border: 1px solid green;
    margin: 0 .5rem .5rem;
    &:first-child{
        margin-left: 0;
    }
    &:nth-child(8){
        margin-left: 0;
    }
    &:nth-child(15){
        margin-left: 0;
    }
}
h4{
    margin-left: .5rem;
}