.signup{
    padding: 4rem 0;
    color: white;
    // height: 100vh;
}
.signUp-container{
    display: flex ;
    padding: 0 2rem;
    @media screen and (max-width: 790px){
      padding: 0 1.25rem;
    }
}
.terms{
    width: 16.125rem ;
    border-radius: 0.5rem;
    border: 2px solid white;
    margin: 0 0 1rem;
    @media screen and (max-width: 790px){
      display: none;
    }
}
.AuthForms{
    padding-left:2rem;
    @media screen and (max-width: 790px){
      padding: 0;
      text-align: center;
    }
    h2{
        margin: 0;
        padding-bottom: 12px;
    }
}
.auth1form{
  text-align: left;
  @media screen and (max-width: 790px){
    margin: 2rem 0;
    }
    input{
        width: 80%;
        height: 2.25rem;
        border-radius: 0.5rem;
        outline: none;
        align-items: center;
        justify-content: center;
        padding: 0 0.8rem;
        font-size: 13px;
        border: none;
        @media screen and (max-width: 790px){
          width: 90%;
        }
    }
}
.sign-ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    ul{
        padding: 0;
        overflow: visible;
        flex-wrap: wrap;
    }
    padding: 1rem 0;
    background-color: #272727;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    
}
.sign-li-1{
    h3{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin: 0;
        font-weight: 600;
        padding: 20px;
        color: #fff;
        background-color: lightblue ;
        border-top-right-radius: 0.3rem;
        border-top-left-radius: 0.3rem;
        
    }
}
.sign-li{
    li{
    margin: 0;
    font-size: 1rem;
    padding: 1rem 15px;
    line-height: 1.3rem;
    white-space: normal;

    }
}
.btn-sign{
    background-color: white;
    color: #272727;
    padding: 10px 25px;
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    display: inline-block;
    border: none;
}
.term-agr{
  text-align:justify;
  @media screen and (max-width: 790px){
      margin-top: 2rem;
    }
    span{
        color: #eb5b28;
        font-weight: 500;
        letter-spacing: 2pt;
    }
}