.movie-card{
    width: 18.8rem;
    font-size: 12px;
    text-align: center;
    margin: 0 0 1.3rem;
    border: 3px solid #F5D161;
    border-radius: 0.5rem ;
    background-color: #EDEDED;
    color: black ;
    font-weight: 700;
}
.m-img{
    border-radius: 0.5rem;
}
.moviereccard{
    width: 18.8rem;
}