.movie-card{
    width: 19.5rem;
    font-size: 14px;
    text-align: center;
    margin: 0 0 1.3rem;
    border: 3px solid #ccc5b9;
    border-radius: 0.5rem ;
    background-color: #fffcf2;
    color: #eb5e28 ;
    font-weight: 700;
}
.m-img{
    border-radius: 0.5rem;
}
.moviereccard{
    width: 19.5rem;
    height: 28.2rem;
}