.main{
    // background-color: #21263A;
    background-image: url('./bg-images/wavey-fingerprint\ \(1\).svg');
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
    color: red;
}
li{
    list-style: none;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
//   border: 6px solid transparent;
//   background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
:root{
  --bg-clr: #232B42;
}