.mainz__container{
    max-width: 100%;
    padding: 3rem 2rem 4rem;
}
.container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.categories{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    .series__no{
        // width: 100%;
        margin: 0 .8rem;
    }
    .series__info{
        // width: 100%;
        text-align: justify;
        margin: 0 1rem;
        // justify-content: center;
        // flex-grow: 2;
    }
}
.card-container{
    display: flex;
    align-content: space-between;
    // flex-wrap: wrap;
}