.statscontainer{
    width: 16rem;
    height: 23rem;
    border:2px solid green;
}
.stats-ul{
     margin: 0 ;
     padding: 0;
     justify-content: space-evenly;
}
.res_cat {
    width: 100%;
    height:2.625rem;
    justify-content: center;
}